.product-list-page {
  padding: 33px 0;
}

.banner-page-detail {
  background: url("../img/banner-list.jpg") no-repeat 50% 0;
  background-size: cover;
  height: 122px;
}

.banner-page-conten {
  font-family: "Roboto-Regular", sans-serif;
  color: #fff;
  text-align: center;
}
.banner-page-conten .banner-page-tilte {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.banner-page-conten ul.breadcrumb-banner {
  text-align: center;
}
.banner-page-conten ul.breadcrumb-banner li {
  display: inline;
  margin: 0 7px;
  position: relative;
}
.banner-page-conten ul.breadcrumb-banner li:before {
  content: "/";
  font-family: "Roboto-Regular", sans-serif;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 2px;
  right: -12px;
}
.banner-page-conten ul.breadcrumb-banner li:last-child:before {
  display: none;
}
.banner-page-conten ul.breadcrumb-banner li a {
  font-family: "Roboto-Regular", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.banner-page-conten ul.breadcrumb-banner li a:hover {
  text-decoration: underline;
}

.pruduct-list-content .filter-bar .filter-bar-title {
  font-size: 24px;
  font-weight: 700;
  color: #212121;
  font-family: "Roboto-Regular", sans-serif;
}
.pruduct-list-content .filter-bar .filter-bar-content p {
  font-size: 14px;
  color: #828282;
}
.pruduct-list-content .filter-bar .filter-bar-content .filter-selector label {
  font-size: 15px;
  margin-right: 15px;
}
.pruduct-list-content .filter-bar .filter-bar-content .filter-selector select {
  font-size: 15px;
  height: 38px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  padding: 0.5rem 0.75rem;
}
.pruduct-list-content .product-list-view {
  margin: 35px 0;
}
.pruduct-list-content .product-list-view .product-item {
  border: solid 1px #e6e5e1;
  margin-bottom: 30px;
  transition: all 0.2s ease;
}
.pruduct-list-content .product-list-view .product-item:hover {
  box-shadow: 21px 2px 33px 11px rgba(145, 145, 145, 0.23);
  transition: all 0.2s ease;
}
.pruduct-list-content .product-list-view .product-item:hover .product-item-img .button-action-img-product {
  opacity: 1;
}

.pruduct-list-content .product-list-view .product-item .product-item-img {
  height: 256px;
  overflow: hidden;
  position: relative;
}
.pruduct-list-content .product-list-view .product-item .product-item-img .button-action-img-product {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
}
.pruduct-list-content .product-list-view .product-item .product-item-img .button-action-img-product a {
  display: inline-flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 7px;
}
.pruduct-list-content .product-list-view .product-item .product-item-img .button-action-img-product a:first-child {
  background: #fff;
}
.pruduct-list-content .product-list-view .product-item .product-item-img .button-action-img-product a:last-child {
  background: #4a8a24;
}
.pruduct-list-content .product-list-view .product-item .product-item-infomation {
  padding: 15px;
}
.pruduct-list-content .product-list-view .product-item .product-item-infomation .product-item-name {
  margin-bottom: 30px;
  height: 40px;
}
.pruduct-list-content .product-list-view .product-item .product-item-infomation .product-item-name a {
  font-size: 16px;
  color: #212121;
  font-weight: 900;
  overflow: hidden;
  text-decoration: none;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.pruduct-list-content .product-list-view .product-item .product-item-infomation .product-item-name a:hover {
  text-decoration: underline;
}
.pruduct-list-content .product-list-view .product-item .product-item-infomation .product-item-cost {
  font-size: 20px;
  color: #c71616;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 700;
}

.category-filter .category-box {
  border: 1px solid #d1d1d1;
  min-height: 200px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px 0;
}
.category-filter .category-box .category-box-title {
  margin: 0 18px;
  color: #000;
  font-weight: 700;
  height: 50px;
  border-bottom: 1px solid #d1d1d1;
  font-size: inherit;
  display: flex;
  align-items: center;
}
.category-filter .category-box .category-box-content ul li {
  height: 44px;
  display: flex;
  align-items: center;
  border-left: 3px solid #fff;
}
.category-filter .category-box .category-box-content ul li:hover {
  border-left-color: #ff9205;
}
.category-filter .category-box .category-box-content ul li:hover a {
  color: #469318;
}
.category-filter .category-box .category-box-content ul li.active {
  border-left-color: #ff9205;
  background: url("../img/icon-1.png") top 10px left 20px no-repeat;
}
.category-filter .category-box .category-box-content ul li.active a {
  color: #469318;
}
.category-filter .category-box .category-box-content ul li:nth-child(1) {
  background: url("../img/icon-1-b.png") top 15px left 20px no-repeat;
  transition: all 0.2s ease;
}
.category-filter .category-box .category-box-content ul li:nth-child(1):hover {
  background: url("../img/icon-1.png") top 15px left 20px no-repeat;
  transition: all 0.2s ease;
}
.category-filter .category-box .category-box-content ul li:nth-child(2) {
  background: url("../img/icon-2-b.png") top 15px left 20px no-repeat;
  transition: all 0.2s ease;
}
.category-filter .category-box .category-box-content ul li:nth-child(2):hover {
  background: url("../img/icon-2.png") top 15px left 20px no-repeat;
  transition: all 0.2s ease;
}
.category-filter .category-box .category-box-content ul li:nth-child(3) {
  background: url("../img/icon-3-b.png") top 15px left 20px no-repeat;
  transition: all 0.2s ease;
}
.category-filter .category-box .category-box-content ul li:nth-child(3):hover {
  background: url("../img/icon-3.png") top 15px left 20px no-repeat;
  transition: all 0.2s ease;
}
.category-filter .category-box .category-box-content ul li a {
  color: #000;
  padding-left: 52px;
  text-decoration: none;
  font-size: 14px;
}
.category-filter .category-box .category-box-content.check-box-category {
  margin: 18px;
}
.category-filter .category-box .category-box-content.check-box-category input {
  height: 18px;
  width: 18px;
}
.category-filter .category-box .category-box-content.check-box-category span {
  font-size: 14px;
}

/*# sourceMappingURL=product.css.map */
